* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.centered {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  text-align: center;
}

/*header*/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.logo img {
  position: absolute;
  top: 0px;
  height: 100px;
  width: 100px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  text-align: center;
  align-items: center;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-transform: uppercase;
  color: rgb(31, 31, 31);
  text-decoration: none;
  letter-spacing: 3px;
}

.nav-links a:hover {
  color: #328332;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }

  .logo img {
    position: absolute;
    top: 0px;
    height: 100px;
    width: 100px;
  }

  .centered {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    position: static;
  }

  .nav-links {
    position: absolute;
    z-index: 99;
    right: 0px;
    top: 100px;
    height: 89vh;
    background-color: white;
    border-left: 1px solid rgb(160, 160, 160);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*header-end*/

body {
  background-color: #f5d7bcc2;
}

.flex-container {
  transition: ease-in;
  background-color: white;
  margin: 2px auto;
  width: 60%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#hero {
  background: url("./assets/hero-image.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position-y: center;
  opacity: 0.7;
  border-radius: 5px;
  position: relative;
}

<<<<<<< HEAD
#hero-text {
=======
.hero-text {
>>>>>>> redesign
  font-size: 2em;
  font-weight: bold;
  color: rgb(243, 243, 243);
  text-transform: uppercase;
  position: absolute;
  bottom: 40px;
  left: 40px;
  transition: color ease-in 1s;
  -webkit-text-stroke: 1px black;
}

.swiper-container {
  width: 60%;
  height: 500px;
  opacity: 0.7;
}

.swiper-slide {
  position: relative;
}

.hero-image-1 {
  background: url("./assets/hero-image.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position-y: center;
  border-radius: 5px;
}

.hero-image-2 {
  background: url("./assets/hero-image-2.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position-y: center;
  border-radius: 5px;
}

.hero-image-3 {
  background: url("./assets/hero-image-3.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position-y: center;
  border-radius: 5px;
}

.hero-image-4 {
  background: url("./assets/hero-image-4.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position-y: center;
  border-radius: 5px;
}

.swiper-container {
  width: 60%;
  height: 500px;
  opacity: 0.7;
}

.swiper-slide {
  position: relative;
}

.hero-image-1 {
  background: url("./assets/hero-image.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position-y: center;
  border-radius: 5px;
}

.hero-image-2 {
  background: url("./assets/hero-image-2.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position-y: center;
  border-radius: 5px;
}

.hero-image-3 {
  background: url("./assets/hero-image-3.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position-y: center;
  border-radius: 5px;
}

.hero-image-4 {
  background: url("./assets/hero-image-4.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position-y: center;
  border-radius: 5px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4em;
  color: rgb(59, 59, 59);
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}

h2 {
  color: rgb(59, 59, 59);
  font-size: 3em;
  text-align: left;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 20px 0;
}

a {
  text-decoration: none;
  color: rgb(59, 59, 59);
}

h1 a:visited {
  color: rgb(59, 59, 59);
}

h1 a:hover {
  color: #328332;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0 20px;
}

.volunteer-text {
  padding: 20px;
  text-align: justify;
  white-space: pre-wrap;
}

.flex-container .columns .column1 {
  text-align: center;
}

.goals {
  text-align: center;
  padding-bottom: 10px;
}

.goal-container {
  padding: 20px;
}

.goal-title img {
  width: 100%;
}

.goal-cards:hover {
  opacity: 0.5;
}

.columns {
  display: flex;
}

.goal-info {
  text-align: justify;
}

.column1 {
  flex: 1;
  text-align: justify;
  padding: 0 3%;
}

.column2 {
  flex: 1;
  text-align: center;
  padding: 0 3%;
}

.column1 img {
  opacity: 0.8;
}

.column2 img {
  opacity: 0.8;
}

p {
  font-family: "Open Sans", sans-serif;
  margin: 0 0 20px 0;
}

p a {
  font-size: 10px;
  color: #00cc00;
}

p a:hover {
  color: #328332;
}

em {
  font-weight: bold;
}

hr {
  border: 2px solid rgb(248, 248, 248);
  width: 80%;
}

.number-people-affected {
  text-decoration: underline;
  display: inline-block;
}

.areas {
  text-align: center;
}

.areas img {
  width: 100%;
  height: 100%;
}

.images-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.images-container img {
  width: 80%;
  height: 90%;
}

#backToTopContainer {
  background-color: hotpink;
}

#backToTopContainer:hover #backToTop {
  clip-path: circle(100%);
  background-color: rgb(99, 184, 82);
  border-radius: 10px;
  opacity: 100%;
}

#backToTop {
  width: 150px;
  height: 40px;
  font-family: OpenSans, sans-serif;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: rgb(99, 184, 82);
  opacity: 50%;
  border: solid 1px rgb(218, 213, 213);
  clip-path: circle(15% at 80% 48%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

span {
  float: right;
  padding-right: 19px;
  font-size: 24px;
}

footer {
  font-family: "Open Sans";
  font-size: 10px;
  color: rgb(100, 100, 100);
  text-align: center;
}

footer a {
  color: rgb(100, 100, 100);
}

#myInput {
  margin-left: 70%;
}

/*Tablet View*/
@media only screen and (max-width: 1500px) {
  .flex-container {
    width: 90%;
  }
}

/*Mobile View*/
@media only screen and (max-width: 900px) {
  .flex-container {
    width: 99%;
    justify-content: center;
    align-items: center;
  }

  #hero {
    width: 100%;
    height: 300px;
    background-position: center;
  }

  #hero-text {
    font-size: 1.5em;
    left: 20px;
  }

  h1 {
    text-align: center;
    font-size: 3em;
  }

  .columns {
    flex-direction: column;
  }

  .goal-columns {
    flex-direction: column;
  }

  .column2 {
    align-items: center;
  }
  #myInput {
    width: 100px;
  }

  .col-reverse {
    flex-direction: column-reverse;
  }
}
