
html {
    scroll-behavior: smooth;
  }

body{
    background-image: linear-gradient(to bottom, rgb(245, 245, 245), rgb(238, 255, 236));
    background-repeat: no-repeat;
    background-color: rgb(238, 255, 236);
}

#flex-container{
    background-color: white;
    margin: 10px auto;
    width: 60%;
    box-shadow: 3px 3px rgb(248, 248, 248);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    
}



h1{
    font-family: 'Varela Round', sans-serif;
    font-size: 45px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

h2{
    text-align: left;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 10px 0;
}

h3{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}


h1 a:visited {
    color: black;
}

h1 a:hover {
    color: rgb(126, 126, 126);
}

ul{
    list-style: none;
    padding: 0;
}

li{
    padding: 0 20px;
}

.issue-container{
    padding: 20px;
}

.issue-columns{
    display: flex;
}


.column1{
    flex: 1;
    text-align: justify;

}

.column2{
    flex: 1;
    text-align: justify;
}

p{
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 20px 0;
}

p a {
    font-size: 10px;
    color: #00cc00;
}

p a:hover{
    color: #328332;
}

em{
    font-weight: bold;
}

hr {
    border: 2px solid rgb(248, 248, 248);
    width: 80%;  
}

.areas{
    text-align: center;
}

.areas img {
    width: 100%;
    height: 100%;
}

.images-container{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.images-container img{
    width: 90%;
    height: 90%;
}

#backToTop{
    font-family: OpenSans, sans-serif;
}

footer {
    font-family: 'Open Sans';
    font-size: 10px;
    color: rgb(100, 100, 100);
    text-align: center;
}

footer a{
    color: rgb(100, 100, 100);
}


@media only screen and (max-width: 1000px) {
        #flex-container{
            width: 90%;
            justify-content: center;
            align-items: center;
        }

        h1{
            text-align: center;
            font-size: 35px;
        }

        .issue-columns{
            flex-direction: column;
        }

        .column2{
            display: flex;
            align-items: center;
        }

        
}

